@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    line-height: 1.75;
    text-decoration: none;
}
body{
    background: #111;
}
.title{
    position: absolute;
    color: rgb(4, 210, 214);
    top: 7.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
}

.grid-item{
    width: 33.33%;
    margin: 15px 0;
    padding: 0 15px;
}

.grid-item__inner{
    position: relative;
    display: flex;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.grid-item__inner::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    transition: .4s;
    content: '';
}

.grid-item__inner:hover::before{
    opacity: 1;
}

.grid-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    transition: .4s;
}
.grid-item__inner:hover .grid-item__img{
    transform: scale(1.05);
    border-radius: 4rem;
}

.grid-item__title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    overflow: hidden;
    z-index: 3;
}

.grid-item__title > span{
    display: block;
    transform: translateY(40px);
    transition: transform .4s;
}
.grid-item__inner:hover .grid-item__title > span {
    transform: translateY(0);
}

@media (max-width:1160px){
    .grid-item{
        width: 45%;
        margin: 15px 0;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:800px){
    .grid-item{
        width: 80%;
        margin: 15px 0;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:500px){
    .grid-item{
        width: 100%;
        margin: 15px 0;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

section{
    padding: 70px 17%;
}

.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    color:#fff;
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: rgb(184, 20, 20);
}
.col ul li:not(last-child){
    margin-bottom: 15px;
}
.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li a:hover{
    color:rgb(184, 20, 20);
    transform: translateX(-12px);
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: rgb(184, 20, 20);
    color: #fff;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: #111;
    background: #fff;
}
.col ul li a{
    text-decoration: none;
}

@media(max-width:1140px){
    section{
        padding: 50px 8%;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media(max-width:575px){
    .col{
        width: 100%;
    }
}